#Home-comp{
    background-color: #1abc9c;
    height: 100vh;
}
#Home-comp .container h1{
    position:relative;
    font-weight: bold;
}
#Home-comp .container h1::before{
    position:absolute;
    content: "";
    width: 90px;
    height: 4px;
    left: 20%;
    bottom: -40%;
    background-color: white;
}
#Home-comp .container h1::after{
    position:absolute;
    content: "";
    width: 90px;
    height: 4px;
    left: 60%;
    bottom: -40%;
    background-color: white;
}
#Home-comp .container i{
    transform: translateX(185px);
}